.stamp {
    display: inline-block;
    padding: var(--small-padding);
    /* margin-right: 10px; */
    color: var(--color-text);
    border-radius: var(--radius-lg);
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap; 
}