.sessionButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.menuWrapper {
    position: relative;
}

.menuToggle {
    background: var(--color-accent);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--radius-lg);
    cursor: pointer;
    transition: background var(--fast-transition);
    margin: 0;
}

.menuToggle:hover {
    background: var(--color-accent-hover);
}

.menuTitle {
    font-weight: 600;
    color: var(--color-surface);
    font-size: 0.9rem;
}

.dropdown {
    /* position: absolute; */
    /* top: 110%;
    right: 0; */
    /* z-index: 100; */
    /* display: flex; */
    /* flex-direction: column; */
    gap: 0.75rem;
    min-width: 320px;
}

.collapseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;

    border: none;
    background: none;
    color: var(--color-accent);
    font-size: 30px;
    line-height: 1;
    padding: var(--small-padding);
    cursor: pointer;
    transition: transform var(--transition-fast);
    margin: 0;
}

.collapseBtn:hover {
    transform: scale(1.2);
    color: var(--color-accent-hover);
}