.fieldBase {
    flex: 1 1 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: var(--small-padding);
    border-radius: var(--radius-lg);
    background: var(--color-bg);
    box-shadow: var(--reverse-shadow-sm);
    color: var(--color-text);
    border: none;
    height: 2rem;
    /* or a consistent height if needed */
    line-height: 1.2;
}

.input {
    flex: 1 1 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: var(--small-padding);
    border-radius: var(--radius-lg);
    background: var(--color-bg);
    box-shadow: var(--reverse-shadow-sm);
    color: var(--color-text);
    border: none;
    height: 2rem;
    border: 2px solid var(--color-surface);
    /* or a consistent height if needed */
    line-height: 1.2;
}

.input:focus {
    outline: none;
}

.trigger {
    flex: 1 1 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: var(--small-padding);
    border-radius: var(--radius-lg);
    background: var(--color-bg);
    box-shadow: var(--reverse-shadow-sm);
    color: var(--color-text);
    border: none;
    height: 2rem;
    border: 2px solid var(--color-surface);
    line-height: 1.2;
    width: 100%;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* SLIDERS */

.slider {
    -webkit-appearance: none;
    appearance: none;
    flex: 1 1 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    height: 2rem;
    padding: 0;
    margin: 0;
    background: none;

    border-radius: var(--radius-lg);
    box-sizing: border-box;
}

/* Remove focus outline */
.slider:focus {
    outline: none;
}

/* WebKit */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    background: var(--color-accent);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    margin-top: -0.3rem; 
}

.slider::-webkit-slider-runnable-track {
    height: 0.5rem;
    background: var(--color-surface);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
}

/* Firefox */
.slider::-moz-range-thumb {
    height: 1.2rem;
    width: 1.2rem;
    background: var(--color-accent);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--shadow-sm);
}

.slider::-moz-range-track {
    height: 0.5rem;
    background: var(--color-surface);
    border-radius: var(--radius-lg); 
    box-shadow: var(--shadow-sm);
}