/* overall grid: header row + content row */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: var(--color-bg);
    font-family: var(--font-sans);
}

.contentRow {
    position: relative;
    flex: 1;
    display: flex;
    overflow: hidden;
    height: 100%;
}

.spacer {
    flex-grow: 1;
}

/* top bar */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: var(--padding);
    margin-left: var(--padding);
    margin-top: var(--padding);
    margin-bottom: var(--small-padding);
    padding: var(--padding);
    background: var(--color-surface);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    z-index: 30;
}

/* chevron button */
.collapseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;

    border: none;
    background: var(--color-surface);
    color: var(--color-accent);
    font-size: 30px;
    line-height: 1;
    padding: var(--small-padding);
    cursor: pointer;
    transition: transform var(--transition-fast);
    margin: 0;
}

.collapseBtn:hover {
    transform: scale(1.2);
    color: var(--color-accent-hover);
}

/* 2-column content area */

.main,
.sidebar {
    overflow-y: auto;
}

.main {
    padding: var(--padding);
    flex: 1;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    padding: var(--padding);
    overflow-y: auto;
    /* background: var(--color-surface); */
    background: transparent;
    transition: transform var(--transition-fast), opacity var(--transition-fast);
    /* box-shadow: var(--shadow-sm); */
    z-index: 20;
}

/* collapsed sidebar */
.sidebar.collapsed {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

/* animate the width change */
.sidebar,
.page {
    transition: all var(--transition-fast);
}